# Zależności Node.js
/node_modules

# Pliki systemowe
.DS_Store
Thumbs.db

# Pliki konfiguracyjne edytorów
.vscode/
.idea/
*.iml

# Skompilowane pliki JS (z wyjątkiem main.js)
*.js
main.js
package-lock.json


# pliki z fiszkami
data.json